
    <br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8 ">
        <a href="#">ពិធីផ្សព្វផ្សាយ និងបណ្តុះបណ្តាលស្តង់ដាវាយតម្លៃសេវាកម្មទេសចរណ៍ត្រៀមទទួលទេសចរចិន</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2017-04-03
    </div>  
</div>  <br><br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">Work Together to Make Cambodia Clean City Green City (Video)</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2017-02-17
    </div>
</div>  <br><br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">
            Be Ready for Angkor Selfie Photo Contest on 20-21 March 2017	</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2017-02-17
    </div>
</div>  <br><br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">Ministry of Tourism meet China Investor on 15 February 2017	</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2017-02-15
    </div>
</div>  <br><br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">CATA Press Release on Srey Rath Travel Case on 15 February 2017 (Video)	2017-02-15</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2017-04-03
    </div>
</div> <br><br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">Announcement on Clean City Valuation Preparation on 13 February 2017	</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2017-02-13
    </div>
</div>  <br><br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">MoT Report Angkor Wat Ticket sold on 04 February 2017	</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2017-02-05
    </div>
</div>  <br><br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">MoT Report Angkor Wat Ticket sold on 03 February 2017	</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2017-02-04
    </div>
</div>  <br><br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">MoT Report Angkor Wat Ticket sold on 01-02 February 2017	</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2017-02-03
    </div>
</div>  <br><br>
<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">Upcoming News from today . . .	</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2016-08-01
    </div>
</div>  <br><br>

<div class="row">
    <div class="col-lg-10 col-md-8 col-sm-8">
        <a href="#">(.)	</a>	
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
        2016-07-31
    </div>
</div>  <br><br>








