<div class="container">
    <div class="row">
        
        <div class=" col-lg-1 col-md-3 col-4">
            <img class="img-fluid" id="img1" src="./assets/catalogo.png">
        </div>
        <div class="col-lg-9 col-md-3 col-8">
            <h1 id="school">CAMBODIA ASSOCIATION OF TRAVEL AGENTS (CATA)</h1>

        </div> 
        
        <div class="col-lg-2 col-md-2 col-8">
          <div class="social">
           
            <a href="https://www.facebook.com/" class="social"> <i id="fb"  class="fa fa-facebook" aria-hidden="true"></i> </a>
            <a href="https://www.youtube.com/"  class="social"> <i id="youtube" class="fa fa-youtube-play"  aria-hidden="true"></i> </a><br>
            <a href="https://www.twitter.com/"  class="social"> <i id="twitter" class="fa fa-twitter" aria-hidden="true"></i> </a>
            <a href="https://www.instagram.com/"  class="social"> <i id="instagram" class="fa fa-instagram" aria-hidden="true"></i> </a>
        
          </div>
          
        </div>
    </div>
  
</div>