<br>
<!-- <div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12">
            <h3><b>Contact Us</b></h3>
            <h4>Kalaimagal Higher Secondary School</h4>
            <h4>Thiruthangal-626130</h4>
            <h4>Sivakasi,TamilNadu</h4>
            <span class="material-icons md-36 md-dark"> phone </span>  <span> 04563 233400 </span><br>
            <span class="material-icons md-18" > email </span> <span>  rit@ritrjpm.ac.in</span> <br>
            <span class="material-icons md-48" id="phone"> language </span> <span> www.ritrjpm.ac.in</span> <br>
    
        </div>
        <div class="col-xl-2 col-md-6 col-sm-12">
            <h3><b>Useful Links</b></h3>
            <h4>CAMBODIA VISA</h4>
            <h4>TOURIST INFORMATION</h4>
            <h4>ADVERTISE WITH US</h4>
        </div>
      
              <div id="sitemap" class="col-xl-4 col-md-6 col-sm-12">
                <h3><b>SiteMap</b></h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3935.333231510256!2d77.80488131479004!3d9.479716993209003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06ce44115318cd%3A0x6e0f88ba9f2a2703!2sKalaimagal%20Higher%20Secondary%20School!5e0!3m2!1sen!2sin!4v1627556084810!5m2!1sen!2sin"
                 width="95%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
             </div>
    
           <div id="feedback" class="col-xl-3 col-md-6 col-sm-12">
               <h3><b>Give Us Feedback</b></h3>
         
             
               <form [formGroup]="form1" (ngSubmit)="submit()">
                <mat-form-field appearance="outline">
                    <mat-label>Email...</mat-label>
                    <input formControlName="gmail" id="gmail" matInput placeholder="xyz@gmail.com">
                   <mat-error *ngIf="!form1.get('email').valid">Email is Required</mat-error> -->
                   <!-- </mat-form-field> <br>
    
                   <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Feedback</mat-label>
                    <textarea formControlName="feedback" id="feedback" matInput placeholder="FeedBack..."></textarea>
                  </mat-form-field> <br>
                      <button  [disabled]="!form1.valid" mat-raised-button color="primary">Submit</button> 
                      {{gmail}}<br>{{feedback}}
               </form>
           </div>
</div>
</div> <br>   -->

<div id="link" class="col-lg-12 col-md-12 col-sm-6" >
    <p>
        About CATA | CATA Activities | President's Message | CATA Board | CATA Directory | CATA Membership | Member Login <br>
    </p>
     <div class="container-fluid">
        <span id="link1"> <a href="about">About Cambodia</a> |  <a href="tourist">Tourist Attractions</a> | <a href="travel">Travel Information</a> | <a href="festival">Festivals of Cambodia</a> | <a href="photo">Photo Gallery</a> | <a href="foreign">Foreign Embassies in Cambodia</a> | <a href="cambodian">Cambodian Embassies Abroad</a> | <br><br>
           
        </span>
        
     </div> 
     <div class="container-fluid">
        <span id="link2">
           <a href="home"> Home</a> | <a href="contact">Contact Us</a> | <a href="">Sitemap</a> |<a href="usefullink"> Useful Links</a> |<a href=""> Downloads</a>
        </span>
     </div>
     </div>

    <div class="col-lg-12 col-md-12 col-sm-6" >
   <p> <span>   &#169; 2021-All rights reserved  </span>   <span id="dev">Developed by Suresh</span></p>
     
    </div>
 