<!-- <div class="container">
    <form>
        <mat-form-field>
                  
            <label>Country</label>
            <mat-select formControlName="city" required>
              <mat-option value="Madurai">Madurai</mat-option>
              <mat-option value="Virudhunagar">Virudhunagar</mat-option>
              <mat-option value="Sivakasi">Sivakasi</mat-option>
              <mat-option value="Chengalpat">Chengalpat</mat-option>
            </mat-select>
          </mat-form-field> 
        </form>

</div> -->
<p>
<b>  Achievements:</b>
</p>
<b>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; XII Std
</b>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<ul>
 <li>
  2014 – I.Justin Xavier (dist 3rd Rank) (H centums) – 1184
 </li>
<li>
  2013-B.saravanan – 1153
</li>
<li>
  2012 –s.Udhaya sankar - 1101
</li>
<li>
  2011 – T.Abinaya – 1126
</li>
<li>
  2010- Aftaz Ahmed Barbuiya – 1156
</li>
<li>
  2009-L.Geethalakshmi – 1183
</li>
<li>
  2007-S.Ruckmony – 1058
</li>
<li>
  2006-t.nandhiya – 1090
</li>
<li>
  2005-M.K.Vanathi (Dist 3rd Rank) – 1162
</li>

</ul>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<b>X Std</b>

<ul>
  <li>
    2014-R.Mohana Priya – 492/500

  </li>
  <li>
    2013-R.Nandhini – 486

  </li>
  <li>
    2012-I.Justin Xavier – 495 (state 3rd Rank & Dist 1st Rank)

  </li>
  <li>
    2011-Swetha Sukul – 483 (Dist 3rd Rank)

  </li>
  <li>
    2010-E.L.Avishajini – 457

  </li>
  <li>
    2009-A.Pandimmenal – 453

  </li>
  <li>
    2008-J.Suganya – 463
  </li>
</ul>