<!-- <h2>
   <span class="welcome"> Welcome to</span>&nbsp; <span class="kingdom">Kingdom of Cambodia</span></h2>

<p>
   <b> Official Name:</b> Kingdom of Cambodia
</p>    

<p>
  <span>  <b>Geography:</b></span>
Area: 181,040 sq. km. (69,900 sq. mi.)
</p>

<p>
   <b> Cities:</b> Capital--Phnom Penh (pop. 1.2 million), Battambang, Siem Reap, Kompong Cham, Kompong Speu, Kompong Thom.
</p>

<p>

  <b>  Terrain:</b> Central plain drained by the Tonle Sap (Great Lake) and Mekong and Bassac Rivers. Forests away from the rivers and the lake,
     <br>mountains in the southwest (Cardamom Mountains) and north (Dangrek Mountains) along the border with Thailand.
</p>

<p>
   <b> Climate:</b> Tropical monsoon with rainy season June-Oct. and dry season Nov.-May.
</p> 

<p>

    People
<b>Nationality:</b> Noun and adjective--Cambodian(s), Khmer.
</p>

<p>
    <b>Population (2005):</b> 14,071,000.
    Avg. annual growth rate (2005) 1.96%. <br> <br>

  <b>  Health:</b> Infant mortality rate--69/1,000. Life expectancy--57 years male; 61 years female <br> <br>

 <b> Ethnic groups:</b> Cambodian 90%; Vietnamese 5%; Chinese 1%; small numbers of hill tribes, Chams, and Laotian.
Ninety percent of Cambodia's population is ethnically Cambodian. Other ethnic groups include Chinese, Vietnamese, hill tribes, Chams, and Laotian. Theravada Buddhism is the religion of 95% of the population; Islam, animism, and Christianity also are practiced.
 Khmer is the official language and is spoken by more than 95% of the population. Some French is still spoken in urban areas, and English is increasingly popular as a second language.<br><br>

<b>Religions:</b> Theravada Buddhism 95%; Islam; Christian. <br><br>

<b>Languages:</b> Khmer (official) spoken by more than 95% of the population; 
some French still spoken in urban areas; English increasingly popular as a second language. <br><br>

<b>Education:</b> Years compulsory--none. Enrollment--primary school, 91.9%; grades 7 to 9,
 26.1%; grades 10 to 12, 9.3%; and post-secondary, 1.4%. Completion rates--primary school, 
 46.8%; lower secondary school, 20.57%; upper secondary school, 8.92%; university, 6%. 
 Literacy (total population over 15 that can read and write, 2006)--73.6% (male 84.7%; female 64.1%). <br><br>


<b> Government</b>
Type: Multiparty democracy under a constitutional monarchy. Independence: November 9, 1953. Constitution: September 24, 1993; amended March 6, 1999.
Cambodia is a constitutional monarchy, and its constitution provides for a multiparty democracy. The Royal Government of Cambodia, formed on the basis of elections internationally recognized as free and fair, was established on September 24, 1993.
The executive branch comprises the king, who is head of state; an appointed prime minister; seven deputy prime ministers, 15 senior ministers, 28 ministers, 135 secretaries of state, and 146 undersecretaries of state. The bicameral legislature consists of a 123-member elected National Assembly and a 61-member Senate. The judiciary includes a 
Supreme Court and lower courts. Administrative subdivisions are 20 provinces and 4 municipalities. <br><br>

Principal Government Officials <br>
<b>King and Head of State:</b> His Majesty Norodom Sihamoni <br>
<b>Prime Minister and Head of Government:</b> His Excellency Hun Sen<br>
<b>President of the Senate:</b> His Excellency Chea Sim <br>
<b>President of National Assembly:</b> His Excellency Heng Samrin<br>
</p>

<p>
    
Welcome to Kingdom of Cambodia
Official Name: Kingdom of Cambodia

Geography:
Area: 181,040 sq. km. (69,900 sq. mi.)



Cities: Capital--Phnom Penh (pop. 1.2 million), Battambang, Siem Reap, Kompong Cham, Kompong Speu, Kompong Thom.

Terrain: Central plain drained by the Tonle Sap (Great Lake) and Mekong and Bassac Rivers. Forests away from the rivers and the lake, mountains in the southwest (Cardamom Mountains) and north (Dangrek Mountains) along the border with Thailand.

Climate: Tropical monsoon with rainy season June-Oct. and dry season Nov.-May.


People
Nationality: Noun and adjective--Cambodian(s), Khmer.

Population (2005): 14,071,000.
Avg. annual growth rate (2005) 1.96%.

Health: Infant mortality rate--69/1,000. Life expectancy--57 years male; 61 years female.

Ethnic groups: Cambodian 90%; Vietnamese 5%; Chinese 1%; small numbers of hill tribes, Chams, and Laotian.
Ninety percent of Cambodia's population is ethnically Cambodian. Other ethnic groups include Chinese, Vietnamese, hill tribes, Chams, and Laotian. Theravada Buddhism is the religion of 95% of the population; Islam, animism, and Christianity also are practiced. Khmer is the official language and is spoken by more than 95% of the population. Some French is still spoken in urban areas, and English is increasingly popular as a second language.

Religions: Theravada Buddhism 95%; Islam; Christian.

Languages: Khmer (official) spoken by more than 95% of the population; some French still spoken in urban areas; English increasingly popular as a second language.

Education: Years compulsory--none. Enrollment--primary school, 91.9%; grades 7 to 9, 26.1%; grades 10 to 12, 9.3%; and post-secondary, 1.4%. Completion rates--primary school, 46.8%; lower secondary school, 20.57%; upper secondary school, 8.92%; university, 6%. Literacy (total population over 15 that can read and write, 2006)--73.6% (male 84.7%; female 64.1%).


Government
<b>Type:</b> Multiparty democracy under a constitutional monarchy. Independence: November 9, 1953. Constitution: September 24, 1993; amended March 6, 1999.
Cambodia is a constitutional monarchy, and its constitution provides for a multiparty democracy. The Royal Government of Cambodia, formed on the basis of elections internationally recognized as free and fair, was established on September 24, 1993.
The executive branch comprises the king, who is head of state; an appointed prime minister; seven deputy prime ministers, 15 senior ministers, 28 ministers, 135 secretaries of state, and 146 undersecretaries of state. The bicameral legislature consists of 
a 123-member elected National Assembly and a 61-member Senate. The judiciary includes a Supreme Court and lower courts. Administrative subdivisions are 20 provinces and 4 municipalities.<br>


Principal Government Officials <br>
King and Head of State: His Majesty Norodom Sihamoni  <br>
Prime Minister and Head of Government: His Excellency Hun Sen  <br>
President of the Senate: His Excellency Chea Sim  <br>
President of National Assembly: His Excellency Heng Samrin  <br>


<b>Economy</b>
Cambodia's real GDP grew at 5.5% in 2002 and 5.2% in 2003, with almost all of the growth coming from the garment sector. Growth in 2004 was strong at 5.5%, with the garment sector providing the biggest input into GDP growth. 
Inflation steadily increased from 1.3% in 2003 to 3.9% in 2005 to 6.7% in 2005.
 The national currency, the riel, was relatively stable over 2002 but depreciated slightly against the U.S.
  dollar in 2003. The National Bank of Cambodia made a series of limited yet effective interventions
   in 2004 to keep the riel to dollar rate at roughly 4,000 to one. The economy is heavily dollarized; 
   the dollar and riel can be used interchangeably. FDI was recorded at $142 million in 2000 and gradually
    dropped to $121 million in 2004. In 2005, for the first time in five years, FDI increases to $216 million.
     In recent years Cambodia is showing a steady growth as the progressive economy. <br>

<b>GDP (2005):</b> $6.2 billion. Per capita GDP (2005): $448. Annual growth rate (2005): 13.4%. Inflation (2005): 6.7%.  <br>

<b>Natural resources: Timber,</b> gemstones, some iron ore, manganese and phosphate, hydroelectric potential from the Mekong River.  <br>

<b>Agriculture (32.3% of GDP, 2005):</b> About 4,848,000 hectares (12 million acres) are unforested land; all are arable with irrigation, but 2.5 million hectares are cultivated. Products--rice, rubber, corn, meat, vegetables, dairy products, sugar, flour.

<b>Industry (25.3% of GDP, 2005):</b> Types--garment and shoe manufacturing, rice milling, tobacco, fisheries and fishing, wood and wood products, textiles, cement, some rubber production, paper and food processing.

<b>Services (37% of GDP, 2004 est.):</b> Tourism, telecommunications, transportation, and construction

<b>Central government budget (2005):</b> Revenues--$642 million; expenditures--$812 million; foreign financing--$273 million.

<b>Trade:</b> Exports ($2.9 billion, 2005)--garments, shoes, cigarettes, natural rubber, rice, pepper, wood, fish. Major partners--United States, Germany, U.K., Singapore, Japan, Vietnam. Imports ($3.8 billion, 2005)--fuels, cigarettes, vehicles, consumer goods, machinery. Major partners--Thailand, Singapore, China, Hong Kong, Vietnam, Taiwan, United States.

<b>Economic aid received:</b>Pledges of $601 million in grants and concessional loans for calendar year 2006. Major donors--Asian Development Bank (ADB), UN Development Program (UNDP), World Bank, International Monetary Fund, Australia, Canada, Denmark, the EU, France, Germany, Italy, Japan, Sweden, Thailand, U.K., U.S. According to the Cambodian Government, 95.2% of the $504 million pledged by donors for 2005 was actually disbursed.

<b>Principal foreign commercial investors:</b> Malaysia, Taiwan, U.S., China, Korea, Hong Kong, Singapore, and Thailand.<br>

<b>Exchange rate (2007):</b> 4,000 riel per U.S. $1.
</p> -->
<br>
<b>About:</b>
<p>
  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;The Kalaimagal Matriculation & Higher Secondary School was established in 
   June 1986 by Sri Balaji Educstional Trust .
   The School is a progressive ,learner-focused school that values the individual 
   and believes in nurturing self-esteem , confidence and independent thinking ,while also encouraging 
   self-discipline and responsibility. 

</p>
<p>The School was started for the following ideals :</p>
<ul>
   <li>
      To Provide good standard of education through State Matriculation Syllabus.
   </li>
   <li>
      To develop harmonious development among the students.
   </li>
   <li>
      To develop Patriotsm , Religious Faith ,Good Citizenship qualities among the pupils.

   </li>
   <li>
      To inculcate Good Discipline , Good Manners , Good Habits ,Give and Take Policy, Leadership qualities, Friendliness and Tolerance in the minds of the students.

   </li>
   <li>
      We encourage excellence in academcs , extra curricular and co-curricular activities.
   </li>
</ul>
<p>
   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;The School possesses spacious well ventilated class rooms , modern teaching aids, well equipped Physics, Chemistry, Biology Labs with the latest Computer Systems and Internet connection in Computer Lab, Library facility ,Play Grounds, Indoor and Out-door games facilities, facilities for Yoga and Meditation, Audio visual room, Transport facility, Karate etc.

</p>  
&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; The School has obtained recognition from the Govt.of Tamilnadu in the year 1989. Since the school has been recognized from First Standard onwards , the Children of the State and Central Govt. Employees can get fees reimbursement facilities. They can also get educational card pass and bus token pass facilities. The SC/ST students can get Tamlinadu State Government scholarship.
<br><br>
<p>
   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  The school has Managing Committee, Advisory Committee, Teachers Council, Academic Councilors and School Welfare Committee for the growth and development of the school.

</p>