<p>
   <b> Passport and Visas:</b> <br><br>
Cambodia has very liberal visa regulations. It is meant to say a valid passport 
and visa are required for entry. Visas can be obtained at Phnom Penh International Airport 
or Siem Reap (Angkor) Airport. All travelers have to do is bring along two passport size photos
 and fill up visa application. A one-month tourist visa costs US$20 while a business visa costs US$25.00.
  Visa application form will be provided on inbound flights. Visas are also available at Thai/Cambodian
   overland border crossing. <br><br>

Tourist visas can be extended for one month, but only one time. Business visas can be renewed indefinitely. 
Renew visas through a travel agent or the 'Department for Foreigners' on Confederation de Russie ('Airport Road'),
 located opposite Phnom Penh International Airport. Renew Diplomatic, Courtesy and Official visas at the Consular 
 section of the Ministry of Foreign Affairs. <br><br>


<b>Cambodian e-Visa :</b> <br><br>
The Ministry of Foreign Affairs and International Cooperation has launched e-Visa which enables you to 
apply for a Cambodia travel visa online. Instead of applying through Cambodian Embassy, all you need is to 
complete the online application form and pay with your credit card. You will get your visa approved within 3
 business days. Now you can obtain the Cambodian Visa by applying online now at http://www.evisa.mfaic.gov.kh 
 Just log in and apply your Cambodian visa at your finger click. <br><br>


<b>Airport Tax:</b> <br>
International Departures: US$25 <br>
Domestic Departure: US$6 <br><br>


<b>Currency & Exchange:</b> <br><br>
The Cambodian official currency is Khmer Riels, However US Dollar is widely accepted in Cambodia.
 US Dollar has been used as commonly as Khmer Riels for High-Value items particularly dealing in the Hotels, 
 Restaurant, Shops, high value possessions and Taxi. <br><br>

Cambodian hard currencies printed in : 50 Riels, 100 Riels, 200 Riels, 500 Riels, 1,000 Riels,
 2,000 Riels, 5,000 Riels, 10,000 Riels, 50,000 Riels, 100,000 Riels. Tourist should carry some Khmer 
 Riels for some small value deals. <br><br>

Credit card, Master Card, RJB, and Travel Checks are accepted in major Hotels, 
Restaurants, and Shops. Most Banks in Cambodia accepts above Cards for encashment manually or
 ATM machines and located in most high-population provinces such as Phnom Penh, Siem Reap, Sihanouk 
 Ville and Battambong. <br><br>

Currency policy in Cambodia haven't yet applied and seem to be freely convenience for tourist as they
 are at home unlike in Thailand, Vietnam, Malaysia and Singapore. US Dollar against Khmer Riels, Rate at Shop,
  Restaurants and Hotels are approximately around 4,000 Riels/ USD. You can do the exchange in many places outside
   the banks and they are located almost everywhere near the markets. <br><br>


<b>Border Information in Cambodia</b> <br><br>

<b>By Airport</b> <br>
1. Phnom Penh International Airport <br>
2. Siem Reap Angkor International Airport <br>
3. Sihanouk Ville International Airport <br>


<b>By Overland and River Border</b> <br><br>

<b>1. Thailand- Cambodia</b> <br>
There are everyday direct flights from Thailand to Cambodia either to Phnom Penh or Siem Reap. 
Other alternative you could go to Cambodia by overland border as following: <br>
<b>
    a). Aranyaprathet / Poipet, Cambodia (Working hours 8:00 am to 8:00 pm)</b> <br>
This official land border is good for tourists who wish to visit Siem Reap, Battambong and it takes about 5 
hours by open-bus or shared taxi to get Siem Reap. Road condition from Poipet to Siem Reap is not that
 developed but a four wheels drive will be the best transportation recommended for
  this wet season (July to November). In the dry season from (December to June) is considerable for time 
  to travel by this road.<br>

<b>b). Hat Lek / Cham Yeam-Koh Kong, Cambodia (Working hours 8:00 am to 8:00 pm)</b> <br>
This official overland border is good for tourist who wish to visit Sihanouk Ville, Phnom Penh,
 and the tourist could go to Sihanouk Ville by Boat which depart very morning 8:00 am. It takes 4 hours
  to reach Sihanouk Ville while at least 5 hours by taxi to Sihanouk Ville. The road condition from Koh Kong 
  to Sre Ambil is a bit difficult while from Sre Ambil to Phnom Penh, Sihanouk Ville, Kampot are years round 
  good condition and well-maintenance. You also could get upon arrival visa at this border check points as well.<br>

<b>c). Chong Jom / O'Smach, Cambodia</b> <br>
This is also an official overland border in the remote provinces, Oddor Meanchey, where tourist
 could obtain their upon arrival visa at the check points. Fewer tourists get into Cambodia by this check point.<br>

<b>d). Chong Sa Ngam / Anlong Veng, Cambodia</b> <br>
This is remote border, where was former Khmer rouge resident located and the last district to re-united after
 a long war in Cambodia. Tourist passes this border mostly from Sisaket, Thailand. Visa upon arrival is available.<br>
<br>

<b>2. Vietnam- Cambodia</b> <br>
There are everyday direct flights from Vietnam to Cambodia either to Phnom Penh or Siem Reap.
 Other alternative you could go to Cambodia by overland border as following: <br>

<b>a). Moc Bai / Bavet, Cambodia (Working Hours 8:00 am- 5:00 pm) </b> <br>
This is a biggest official border get between Vietnam and Cambodia, It takes about 5 hours to travel 
from Bavet to Phnom Penh and Visa upon arrival is available. There are several local taxi, mini-van, 
bus are waiting to transfer you until late evening. The road condition is good and well-maintenance.<br>

<b>b). Chau Doc / Kaam Samnor, Cambodia (Working Hours 8:00 am - 5:00 pm)</b> <br>
This is an official river-border on the Mekong River, is becoming the popular get way for tourists come to 
Cambodia from Vietnam by boat, ferry. It takes about 6 Hours to reach Phnom Penh Port. If you wish to go 
to visit Siem Reap, the only way is to take private taxi otherwise you will stay overnight in Phnom Penh wait
 for the morning or noon bus. Cambodian visa is available upon arrival. <br>

<b>c). Tinh Bien / Phnom Den, Takeo, Cambodia (Working Hours 8:00 am - 5:00 pm)</b> <br>
Tourist Visa upon arrival is unknown, but it is good for those who prefer to visit Kampot and Sihanouk 
Ville rather than Phnom Penh or Siem Reap. It takes 2-3 hours to get Kampot and Sihanouk Ville by mini-van
 or taxi. <br> <br>


<b>3. Laos-Cambodia</b> <br><br>
There are everyday direct flights from Lao to Cambodia either to Phnom Penh or Siem Reap.
 Other alternative you could go to Cambodia by overland border as following: <br>

<b>a). Voeung Kam / Dom Kralor, Cambodia</b> <br>
Tourist Visa is available upon arrival; it is good for tourist coming from Laos to Visit Cambodia 
through Steung Treng to Phnom Penh or Siem Reap. The road condition is comparatively good condition.

From this border, there is another border on the river-crossing which the Visa might not be available on 
arrival. From the border, you could choose 3 different tastes of Cambodia,  <br>
[1] City of Phnom Penh,<br> [2] Heritage Angkor-Siem Reap and <br>[3] Tribe-Hills (Mondolkiri and Rattanakiri).<br>

<b>Communication:</b> <br> <br>
The country code for Cambodia is 855. The telephone networks consists of satellite, landlines, cellular, 
GSM and radio systems which connect Phnom Penh, Siem Reap, Sihanoukville, Battambang, Kompong Cham and 
other provinces internationally. International dialing can be done at main postal offices, private business 
centers or hotel or at public phone booths, which can be found at postal office, main streets, gas stations, major 
restaurants, hotels etc. If you want a lower rate and clear sound is not a factor, there are many Internet cafés 
offering International calling. <br><br>


<b>Postal Services:</b> <br><br>
The main postal service in Phnom Penh is located on the corner of street 102 and 13, which is east of
 Wat Phnom Penh. From there, you can send parcels, telegrams etc. It opens daily from 7:30AM to 5:00PM <br><br>


<b>Business Hours:</b> <br><br>
Government offices are open from 7:30AM to 5:00PM on weekday; the lunch break is from 12:00 to 2:00PM. 
Most businesses, restaurants open from 7:00AM to 8:00PM while most banks operate from 7:30AM to 3:30PM 
on weekday and some are half day on Saturday. <br><br>

Note: For latest information and details, please check with your Travel Agent before you travel.

</p>