<div class="container">
    <form>
        <mat-form-field>
                  
            <label>Country</label>
            <mat-select formControlName="city" required>
              <mat-option value="Madurai">Madurai</mat-option>
              <mat-option value="Virudhunagar">Virudhunagar</mat-option>
              <mat-option value="Sivakasi">Sivakasi</mat-option>
              <mat-option value="Chengalpat">Chengalpat</mat-option>
            </mat-select>
          </mat-form-field> 
        </form>

</div>