<p>
    <br>
<b>Phnom Penh Capital</b> <br>
Situated at the confluence of the Mekong, Bassac and Tonle Sap Rivers, 
Cambodia's capital Phnom Penh has a population of approximately 1.5 million people. 
Despite the dilapidation resulting from decades of war, the city retains its traditional Khmer 
and colonial charm. French villas along tree-lined boulevards remind the visitor that the city was
 once considered the gem of Southeast Asia. Recent political changes have triggered an economic boom of sorts,
  with new hotels, restaurants, bars and nightclubs springing up around the city.
 <br><br>

<b>Royal Palace</b> <br>
Situated on the site of the former Citadel, it was built by King Norodom 
in 1866 on the banks of the Mekong River. Inside its gleaming yellow walls are the Throne Hall;
 the Chan Chaya Pavilion, specially made for performances of classical Cambodian dance; the Napoleon III 
 Pavilion, offered to King Norodom by Queen Eugenie, wife of Napoleon III,
  and the King's and Queen's residential quarters. Nowadays, only the Silver Pagoda can be visited. 
  (Sothearos between Street 240 & 184 - $3.00/person, $2.00/camera, $5.00/video cam. Open everyday,
   7:30-11:00 / 2:30-5:00) <br><br>


<b>Silver Pagoda</b> <br>
Also called the Pagoda of the Emerald Buddha, it is located in the compound of
 the Royal Palace. Inside its floor is constructed of 5000 silver tiles. 
 In the center of the pagoda there is a magnificent 17th-century emerald Buddha statue made 
 of baccarat crystal. The walls enclosing the pagoda are covered with frescoes depicting episodes 
 from the Khmer version of the Ramayana. <br><br>

<b>Independence Monument</b> <br>
Inaugurated in 1958 to celebrate Cambodia's independence from foreign rule. It now also serves as monument to Cambodia's war dead. At night the monument is very tastefully illuminated by red, blue and white floodlights - the colors of the Canbodian flag. It is the site of celebrations and services on holidays such as Independence Day and Constitution Day. Trespassing onto the monument is illegal (sometimes). The best view is from across the street anyway.
(At the intersection of Norodom and Sihanouk) <br><br>

<b>National Museum</b> <br><br>
Located near the Royal Palace, Cambodia's National Museum offers a charming setting for a 
stunning collection of ancient Khmer art. Predominantly constructed of sandstone, the sculptures 
date from both the Angkorean and pre-Angkorean eras. These exhibits are complemented by more recent 
examples of Cambodian art. The museum is housed in a terra-cotta-roofed structure of traditional Cambodian
 design, which was built between 1917 and 1920. Apart from artistic treasures, the building is also home to
  a large colony of Cambodian freetail bats. <br>

The colony has lived in the building's rafters for years and is believed to be the largest
 group of bats living in a man-made structure anywhere in the world. But visitors need
  not worry about becoming a guano target, as the Australian government reinforced the 
  ceiling of the museum in 1997. The only time you are likely to see the bats is when they fly 
  from the roof en masse at dusk each evening. <br><br>

(Street 178 & Street 13, next to the Royal Palace - $2.00 - 8:00-11:30 and 2:00-5:00, open everyday) ,<br><br>

<b>Wat Phnom</b> <br><br>
The history of Wat Phnom is that in 1372 Lady Penh discovered four Buddha statues. 
She decided to create the hill (phnom) that is today the site of Wat Phnom and atop the hill 
she created a small temple (wat) to house the statues. The story continues that eventually the 
area became known as Phnom Penh in recognition of Lady Penh and the hill. The current temple 
contains the remains of King Ponhea Vat (1405-1467) and it was this King that relocated the capital of 
Cambodia from Angkor to Phnom Penh in 1422. <br><br>

The hill today is a busy site as the temple is active and draws lots of local people.
 You can take an elephant ride and there are many stalls selling food and drinks. Entrance to Wat Phnom is US$1.<br><br>

(Intersection of Street 96 and Norodom Blvd. - $1/person) <br><br>

<b>Wat Ounalom</b> <br><br>
Facing the Tonle Sap River near the Royal Palace, this pagoda serves as the headquarters for one of Cambodia's most revered Buddhist patriarchs. <br><br>

<b>Toul Sleng Genocide Muneum (S-21)</b> <br><br>
Prior to 1975, Toul Sleng was a high school. When the Khmer Rouge came to power it was converted into the
 S-21 prison and interrogation facility. Inmates were systematically tortured, sometimes over a period of months,
  to extract confessions, after which they were executed at the killing fields of Choeung Ek. S-21 processed over
   17,000 people, seven of whom survived. The building now serves as a museum, a memorial and a testament to the
    madness of the Khmer Rouge regime. Much has been left in the state it was when the Khmer Rouge abandoned it 
    in January 1979. The prison kept extensive records, leaving thousands of photos of their victims, many of 
    which are on display. Paintings of torture at the prison by Vann Nath, a survivor of Toul Sleng, are also on
     display. The museum's famous and controversial “skull map” has recently been dismantled.
     <br><br>
(Corner of Street 113 & Street 350 - $2.00 - Open everyday, including holidays, 8AM-5PM Closed for lunch) <br><br>

<b>Choeung Ek Killing Fields Site</b> <br><br>
From 1975-1979 the ultra-Communist Khmer Rouge regime, led by Pol Pot, controlled Cambodia. 
During their short reign, between 1 and 2.5 million Cambodians perished, some killed outright,
 others dying from disease, malnutrition and mistreatment. Many of the dead ended up in “killing fields”
  I that can be found across the country. The memorial at 1 Choeung Ek just outside Phnom Penh was an 
  orchard! and a Chinese cemetery prior to 1975. During the Khmer Rouge regime it became one of the 
  killing fields the site of the brutal executions of more than 17,000 individuals, most of whom first 
  suffered through torture and deprivation in Toul Sleng Prison. Choeung Ek is now a group of mass graves 
  and a memorial stupa containing thousands of skulls. Combine with a visit to Toul Sleng Genocide Museum.<br><br>
(15 km southwest of Phnom Penh - Take Monireth 8.5 km past the bridge at Street 271) <br><br>


<b>The River Front</b> <br><br>
A stroll or cyclo ride along the park lined riverfront is a must - pubs, restaurants,
 shops and tourist boats line the way. The view of the confluence of the Mekong and the Tonle Sap is 
 geographically unique. Early risers, check out the spectacular sunrise over the river in front of the 
 Royal Palace. <br><br>

<b>Traditional Markets (Phsar)</b> <br><br>
The market places in Cambodian cities and towns always present a hive of activity and a visit to 
one or two is a great experience for visitors. In Phnom Penh we recommend a visit to the Russian Market
 and the Central Market. Note that generally most markets open for daylight hours only, from early morning
  until early evening. <br><br>

<b>Central Market (Phsar Thmei)</b> <br><br>
The distinctive art-deco styling of the Central Market makes it a standout in the architecture of Phnom Penh.
 Phsar Thmei translates to New Market although Central Market is becoming more common; be assured that 
 whichever name you use the moto drivers will know where you want to go. You will find a myriad of stalls 
 offering t-shirts, jewellery, postcards, flowers, house ware, and electronic goods – in fact just about anything
  you could wish for!


<b>Russian Market (Phsar Toul Tom poung)</b> <br><br>
So-named because of the prevalence of items from the Eastern Bloc in past times, the Russian
 Market today is a treasure trove for tourists. Particular items worth seeking out include CD’s,
  fabrics, jewellery, carved handicrafts and ceramics. There are also a large number of clothing 
  outlets and adjustments can be done readily via the tailors and seamstresses. The food and drinks 
  stalls are a good place to take a refreshment break between the bargaining. <br><br>

<b>Orussey Market</b><br><br>
Centrally located, Orussey Market is much more geared towards locals than tourists; hence 
you will not find as much in the way of souvenirs as the other markets mentioned.
 A huge array of foodstuffs is on offer including the wet market with fresh meat, poultry and seafood.
  Other items in abundance include house ware, hardware and electronic goods. <br><br>


<b>Old Market (Phsar Chas)</b> <br><br>
A local market that is not at all geared to the tourist. It carries such items as fruits and vegetable,
 second hand cloths, hardware, motorcycle parts and religious items. In the late afternoon food vendors
  and fruit sellers set up mats along Street 13 in preparation for the evening market. The dinner rush hou
  r makes for a confusing, dirty potentially photogenic scene. <br><br>

<b>Pagodas</b> <br><br>
In Phnom Penh, you are never outside walking distance of a pagoda. Visitors are almost alway welcome.
 Ray Zepp's A Field Guide to Cambodian Pagodas is an excellent introduction to Phnom Penh's pagodas and
  Cambodian Buddhism. <br><br>

<b>Wat Sotum</b> <br><br>
Significant because it is one of the city's original wats, it was founded in 1422 by King Ponhea Vat. 
It took its current name in 1865 and its present structure in 1937. Of photographic note: The wat compound 
is crowded with ornate stupas. Just northwest of the intersection of Sothearos and Sihanouk. <br><br>

<b>Wat Langka</b> <br><br>
is one of Phnom Penh's five original wats (1422). First established as a sanctuary for the Holy Writings and 
a meeting place for Cambodian and Sri Lankan monks, the Wat was named in honor of these meetings.
 Just southwest of the Independence Monument. <br><br>

<b>Wat Neak Kravorn</b> <br><br>
adorns the western skyline of Boeung Kak lake. This Wat was inaugurated in 1967 and the vihear houses 
some very unique wall paintings. West on Confederation de la Russie. Turn right at a small street east of Nehru, 
go through the train yard. <br><br>

<b>Waf Ounalom</b> <br><br>
is another of Phnom Penh's five original monasteries (1422). Until 1999, it housed the Institut Bouddhique 
and library. On the riverfront about 250 meters north of the National Museum. <br><br>

</p>