<p>
  <b>  January 01: International New Year's Day</b> <br> <br>

<b>April 14-16:</b> Cambodian New Year <br>
A three-day celebration after the end of harvest to mark the turn of The New Year
 according to the Khmer lunar.calender Every home is seen with attractive decorations. 
 shrines are full of food and beverages given as offerings to God.. Other people attend Buddhist
  temples where traditional games are also performed. <br><br>

<b>May 29:</b> Visa Bochea Day Birthday of Buddha. <br><br>

<b>May 25:</b> Royal Ploughing Ceremony <br>
It is culturally cele-brated to alert the nation of the commen-cement of rainy season,
and farmers to be ready for farming rice by starting to plough. The venue is a field at 
a wing of Royal Palace, Phnom Penh. The scene is interesting as it depicts real ploughing 
activities where cows are given a variety of crops to eat. Based on the choices of crops eaten
 by the cows, prediction are made for the coming year. <br><br>

October Pchun Ben Day or The Soul Day <br>
A religious festival to bless the souls of ancestors, relatives and friends alike who have passed away.
 Household members attend Buddhist temples. <br> <br>

<b>October 30 - November 1:</b> Birthday of His Majesty King Norodom Sihanouk <br>
A giant firework display is held close to the riverbanks in front of the Royal Palace. <br><br>

October or November Water Festival <br>
Not only it marks the reversing flow of Tonle Sap River but also ushers in the fishing season.
 The Highlight of the event is boat races over three days. As night falls, fireworks light the sky and a 
 lighted flotilla of boats sail under full moon to whom household worships. Some analysts say the celebration
  is also a thanksgiving to the Mekong River for providing the country with fertile land. People from all walks of
   life gather on the bank of the Mekong River for days and nights.<br><br>
 


</p>