<div class="photo">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img16.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img17.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img18.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img19.jpg">
        </div>
    </div> <br>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img24.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img25.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img20.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img19.jpg">
        </div>
    </div> <br>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img16.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img21.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img22.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img23.jpg">
        </div>
    </div> <br>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img5.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img9.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img10.jpg">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <img id="img1" src="./assets/img11.jpg">
        </div>
    </div> <br>

  
</div>