<!-- <p>
   
   <a href=""> Ministry Of Agriculture Forestry And Fisheries</a> <br><br>
   <a href="">Ministry Of Commerce</a> <br><br>
   <a href="">	
	Ministry Of Culture And Fine Arts</a> <br><br>
   <a href="">	Ministry Of Economy And Finance</a> <br><br>
   <a href="">	Ministry Of Education Youth And Sports</a> <br><br>
   <a href="">	Ministry Of Environment</a> <br><br>
   <a href="">
	Ministry Of Foreign Affair And International Cooperation</a> <br><br>
   <a href="">	Ministry Of Health</a> <br><br>
   <a href="">
	Ministry Of Industry Mines And Energy</a> <br><br>
   <a href="">
	Ministry Of Information</a> <br><br>
   <a href="">	Ministry Of Interior</a> <br><br>   
   <a href="">	Ministry Of Justice</a> <br><br>
   <a href="">
	Ministry Of Labor And Vocational Training</a> <br><br>
   <a href="">	Ministry Of Land Management, Urban Planning & Construction</a> <br><br>
   <a href="">

	Ministry Of National Defense</a> <br><br>
   <a href="">	Ministry Of Parliamentary Affairs And Inspection</a> <br><br>
   <a href="">
	Ministry Of Planning</a> <br><br>
   <a href="">	Ministry Of Post And Telecommunication</a> <br><br>
   <a href="">
	Ministry Of Religions And Cults</a> <br><br>
   <a href="">
	Ministry Of Rural Development</a> <br><br>
   <a href="">
	Ministry Of Social Affairs Veteran And Youth Rehabilitation</a> <br><br>
   <a href="">
	Ministry Of Tourism</a> <br><br>
   <a href="">Ministry Of Water Resources And Meteorology</a> <br><br>
   <a href="">	Ministry Of Women Affairs</a> <br><br>
   <a href="">	Municipality Of Phnom Penh</a> <br><br>
   <a href="">	National Information Communications Technology Development</a> <br><br>
   <a href="">
	Office Of The Council Of Ministers</a> <br><br>
   <a href="">Permanent Mission Of The Kingdom Of Cambodia To The United Nations</a> <br><br>
   <a href="">	
	Secretariat Of Civil Aviation</a> <br><br>
   <a href="">	Secretariat Of Public Service</a> <br><br>





	





</p> -->

<p><b>
   Rules & Regulations
</b></p>

<ul>
  <li>
   This Diary should be brought to school daily.
  </li> <br>
  <li>
   Pupils must be in the school premises by 8.40 a.m. Late comers should get the late attendance record signed by their parent/Guardian.

  </li> <br>
  <li>
   The School uniform must be worn on all school days and for all school functions. On every Monday, Friday and Sports functions the prescribed white uniform must be worn. Pupils with incomplete uniform will not be allowed in class. Pupils should be clean and tidy.

  </li><br>
  <li>
   English speaking is compulsory for all students in the school premises.

  </li><br>
  <li>
   Politeness and courtesy of speech and good conduct are expected very much from the pupils and Parents.

  </li><br>
  <li>
   No Pupil suffering from contagious or infections diseases shall be allowed to attend school.

  </li><br>
  <li>
   Parents are requested to co-operate in the work of school by enforcing regularity, punctuality and discipline, by talking daily interest in their children’s progress.

  </li><br>
  <li>
   Reports which are sent to the parent/guardians from time to time should ensure that their children/wards make special efforts to study those subjects in which they are weak.

  </li><br>
  <li>
   All note books and text books are to be purchased from the school.

  </li><br>
   <li>
      Any change in residential address or phone numbers is to be communicated to the office without delay.

   </li><br>
  <li>
   The school reserves the right to dismiss a pupil on the grounds of irregular attendance, disobedience to teachers, and any kind of mal-practice of objectionable behavior, not in keeping with the good tone of the school.
  </li>
</ul>